.card {
  border: 5px solid #3e4c9e5b;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
}



p {
  font-size: 1.2rem;
  line-height: 1.5;
}

span {
  color: #007bff;
  cursor: pointer;
}

img {
  max-width: 5rem;
  border-radius: 70%;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.459), 0 10px 10px 0 rgba(0, 0, 0, 0.288);
}