body {
    font-family: Arial, sans-serif;
    text-align: center;
    font-size: 30px;
}

h1 {
    color: #1c7ebe;
}

button {
    background-color: #3f1cbe;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0d4c77;
}