table {
  border-collapse: collapse;
  margin: auto;
  font-size: 1.2rem;
  width: 100%;
  border-radius: 50%;
}

th,
td {
  font-size: 1.3rem;
  ;
  padding: 10px;
  border: 2px solid rgba(0, 0, 0, 0.705);
  text-align: center;
  background-color: #9488889d;
  color: rgb(47, 0, 255);
  font-weight: bold;
}

th {
  font-size: 1.5rem;
  color: white;
  background-color: #ff0000e8;
  font-weight: bold;
}

label,
input[type=checkbox] {
  font-size: 1.196rem;
  text-align: center;
  cursor: pointer;
}